@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color */

:root {
  --main-color: hsl(271, 76%, 53%);
  --heading-color: hsl(0, 0%, 40%);
  --text-color: hsl(0, 0%, 50%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 93%);
  --border-color: hsl(0, 0%, 87%);
  --shadow-1-color: rgba(50, 50, 93, 0.25);
}

.dark-theme {
  --heading-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 80%);
  --body-color: hsl(0, 0%, 7%);
  --container-color: hsl(0, 1%, 17%);
  --border-color: hsl(0, 0%, 15%);
  --shadow-1-color: var(--main-color);
}

.skills-shadow {
  box-shadow: var(--shadow-1-color) 0px 0px 80px -20px,
    var(--shadow-1-color) 0px 0px 40px -30px,
    var(--shadow-1-color) 0px -3px 6px 0px inset;
}

body::-webkit-scrollbar {
  display: none;
}
